<div class="block block-dark block-3">
		<div class="block_container">
		<p class="block_container_top">
			ЭТАПЫ СОЗДАНИЯ САЙТА
		</p>
		<div class="block-3_layout">
		<div class="block-3_row-1">
			<div class="block-3_row-1_box-1">
				<p class="block_title">
					Подготовка ТЗ
				</p>
				<p class="block-3_text">
					Подготовим ТЗ простым и доступным языком, который понятен даже не техническому специалисту
				</p>
			</div>
			<div class="block-3_row-1_box-2">
				<p class="block_title">
					Дизайн
				</p>
				<p class="block-3_text">
					Мы представим несколько вариантов главной страницы.
Наш дизайн будет корректно отображаться на ПК и мобильных устройствах.
				</p>
			</div>
			<div class="block-3_row-1_box-3">
				<p class="block_title">
					Программирование
				</p>
				<p class="block-3_text">
					Произведем покупку системы управления и интегрируем её в ваш сайт, настроим работу модулей, наполним первичным контентом для тестирования.
				</p>
			</div>
		</div>

		<div class="block-3_row-2">
			<p class="block-3_row-2_box-1">ВЫ ДЕЛАЕТЕ ЗАКАЗ</p>
			<img class="block-3_row-2_box-bg" src="images/layout.svg" alt="layout" title="Этапы создания сайта">
			<img class="block-3_row-2_box-bg-mobile" src="images/layout-mobile.svg" alt="layout" title="Этапы создания сайта">
			<div class="block-3_row-2_box-2">
				<img src="images/tz.svg" alt="icon-tz" title="Подготовка ТЗ">
			</div>	
			<div class="block-3_row-2_box-3">
				<img src="images/prot.svg" alt="icon-prototype" title="Проектирование и прототипирование">
			</div>
			<div class="block-3_row-2_box-4">
				<img src="images/dez.svg" alt="icon-design" title="Дизайн">
			</div>
			<div class="block-3_row-2_box-5">
				<img src="images/verst.svg" alt="icon-vers" title="Верстка">
			</div>
			<div class="block-3_row-2_box-6">
				<img src="images/prog.svg" alt="icon-programming" title="Программирование">
			</div>
			<div class="block-3_row-2_box-7">
				<img src="images/test.svg" alt="icon-test" title="Наполнение и 
тестирование">
			</div>
			<p class="block-3_row-2_box-8">
				ВАШ САЙТ ГОТОВ К РАБОТЕ
			</p>
		</div>

		<div class="block-3_row-3">
				<div class="block-3_row-3_box-1">
				<p class="block_title">
					Проектирование и прототипирование
				</p>
				<p class="block-3_text">
					Мы подготовим интерактивный прототип, где Вы наглядно увидите, каким будет будущий сайт, еще на самом старте.
				</p>
			</div>
				<div class="block-3_row-3_box-2">
				<p class="block_title">
					Верстка
				</p>
				<p class="block-3_text">
					Вы можете быть уверены, что Ваш сайт будет корректно отображаться на всех браузерах и мобильных устройствах.
				</p>
			</div>
					<div class="block-3_row-3_box-3">
				<p class="block_title">
					Наполнение и тестирование
				</p>
				<p class="block-3_text">
					Наполним сайт реальным контентом: новости, фото, видео и др. Перенесем сайт на Ваш хостинг и настроим его работу. А после научим Вас управлять своим новым ресурсом.
				</p>
			</div>
		</div>
		</div>
	</div>
</div>