<div class="block block-dark block-1">
	<header class="block_header">
		<div class="logo">
			<img src="images/logo.png" alt="logo" title="IT акула">
		</div>
	</header>
	<div class="block-1_content">
	<h1 class="block_h1">
		ВАМ СРОЧНО НУЖЕН САЙТ? <br />
		ТОГДА УСЛУГА <span>БЫСТРОСАЙТ</span> ДЛЯ ВАС 
	</h1>
	<p class="block-1_p">Создадим, оформим сайт, который будет работать на Вас за 3 дня </p>
	<button class="block_btn" type="button">ЗАКАЗАТЬ САЙТ</button>
</div>
<button class="block_scroll-btn js-block_scroll-btn" title="вниз">
	<img src="images/mouse.svg" alt="вниз">
</button>	
</div>
