<div class="block block-white block-4">
		<div class="block_container">
			<p class="block_h2">
				ВАРИАНТЫ ШАБЛОНОВ ДИЗАЙНА ДЛЯ ВАС
			</p>
			<ul class="block_ul js-block_ul">
				<li class="js-block_ul_active" data-block="business">
					Бизнес
				</li>
				<li data-block="immovables">
					Недвижимость
				</li>
				<li data-block="tourism">
					Туризм
				</li>
				<li data-block="stores">
					Интернет-магазины
				</li>
			</ul>

			<div class="owl-carousel block_carousel js-block_carousel-active" data-block="business">
				<div class="block_carousel_slide">
					<img src="images/logo.png" alt="slide img" title="slide info">
				</div>
				<div class="block_carousel_slide">
					<img src="images/logo.png" alt="slide img" title="slide info">
				</div>
				<div class="block_carousel_slide">
					<img src="images/logo.png" alt="slide img" title="slide info">
				</div>
				<div class="block_carousel_slide">
					<img src="images/logo.png" alt="slide img" title="slide info">
				</div>
				<div class="block_carousel_slide">
					<img src="images/logo.png" alt="slide img" title="slide info">
				</div>
			</div>

			<div class="owl-carousel block_carousel" data-block="immovables">
				<div class="block_carousel_slide">
					<img src="images/verst.svg" alt="slide img" title="slide info">
				</div>
				<div class="block_carousel_slide">
					<img src="images/verst.svg" alt="slide img" title="slide info">
				</div>
				<div class="block_carousel_slide">
					<img src="images/verst.svg" alt="slide img" title="slide info">
				</div>
				<div class="block_carousel_slide">
					<img src="images/verst.svg" alt="slide img" title="slide info">
				</div>
				<div class="block_carousel_slide">
					<img src="images/verst.svg" alt="slide img" title="slide info">
				</div>
			</div>

			<div class="owl-carousel block_carousel" data-block="tourism">
				<div class="block_carousel_slide">
					<img src="images/prog.svg" alt="slide img" title="slide info">
				</div>
				<div class="block_carousel_slide">
					<img src="images/prog.svg" alt="slide img" title="slide info">
				</div>
				<div class="block_carousel_slide">
					<img src="images/prog.svg" alt="slide img" title="slide info">
				</div>
				<div class="block_carousel_slide">
					<img src="images/prog.svg" alt="slide img" title="slide info">
				</div>
				<div class="block_carousel_slide">
					<img src="images/prog.svg" alt="slide img" title="slide info">
				</div>
			</div>

			<div class="owl-carousel block_carousel" data-block="stores">
				<div class="block_carousel_slide">
					<img src="images/tz.svg" alt="slide img" title="slide info">
				</div>
				<div class="block_carousel_slide">
					<img src="images/tz.svg" alt="slide img" title="slide info">
				</div>
				<div class="block_carousel_slide">
					<img src="images/tz.svg" alt="slide img" title="slide info">
				</div>
				<div class="block_carousel_slide">
					<img src="images/tz.svg" alt="slide img" title="slide info">
				</div>
				<div class="block_carousel_slide">
					<img src="images/tz.svg" alt="slide img" title="slide info">
				</div>
			</div>

		</div>
	</div>