<div class="block block-dark block-5">
<h2 class="block_h2">ЗАКАЗАТЬ САЙТ</h2>
<form class="form">
	<fieldset class="form_left">
		<input class="input-text" name="name" type="text" placeholder="Ваше имя" required />
		<input class="input-text" name="email" type="email" placeholder="Ваш email" required />
		<input class="input-text" name="phone" type="tel" placeholder="Ваш телефон" required />
	</fieldset>
	<fieldset class="form_right">
		<textarea class="textarea" name="comment" placeholder="Ваше сообщение"></textarea>
	</fieldset>
	<fieldset class="form_full">
		<div class="form_file-box js-form_file-box">
		<input type="file" name="file" multiple />
		<button class="js-form_file-box_btn" type="button"></button>
		</div>
	</fieldset>
	<fieldset class="form_full">
		<button class="block_btn" type="submit">Отправить</button>
	</fieldset>
</form>
</div>