	<meta charset="UTF-8">
	<title>Веб студия IT акула</title>
	<meta name="description" content="Веб-студия IT акула ООО &laquo;ВЕБ ТЕХНОЛОГИИ&raquo; Санкт-Петербург">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="shortcut icon" href="images/favicon.ico">
	<link rel="stylesheet" href="styles/normalize.css">
	<link rel="stylesheet" href="plugins/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="styles/style.css">
	<link rel="stylesheet" href="styles/style-media.css">
	<link rel="stylesheet" href="styles/ie.css">



