@media (max-width: 1600px) {
  .block_header {
    left: 80px; }
  .owl-carousel.js-block_carousel-active {
    margin: 0 auto;
    width: calc(100% - 230px); } }

@media (max-width: 1230px) {
  .block_container_left {
    padding-left: 15px;
    padding-right: 15px; }
  .block-3_layout {
    padding-left: 8px; }
  .block-4 .block_h2 {
    font-size: 36px; } }

@media (max-width: 1030px) {
  .form {
    padding-left: 15px;
    padding-right: 15px; }
  .block-1_content {
    max-width: 90%; }
  .block-1_p {
    padding: 60px 0; }
  .block_container_left,
  .block_container_right {
    width: 100%;
    max-width: 100%; }
  .block_container_left {
    margin-bottom: 130px; }
  .block_container_top {
    margin-bottom: 50px; }
  .block-2 {
    padding-bottom: 124px;
    background-position: 15% 54%; }
  .block_container_bg {
    right: 20px;
    left: auto;
    bottom: 47%; }
  .block_header {
    left: 80px; }
  .block_ul li {
    margin: 10px 15px; }
  [class^="block-3_row-3_box"][class$="2"] {
    margin-left: 50px;
    margin-right: 60px; } }

@media (max-width: 1020px) {
  .block-3 {
    min-height: 2000px; }
  .block-3_row-1 {
    display: block;
    margin-left: 0; }
  .block-3_row-2 {
    position: absolute;
    width: 92px;
    height: 1895px;
    display: block;
    flex-wrap: wrap;
    right: 40px;
    top: 0; }
  .block-3_row-3 {
    display: block;
    margin-left: 0;
    margin-top: 15px;
    position: absolute;
    top: 364px; }
  .block-3_layout {
    padding-left: 0;
    max-width: 367px;
    margin: 0 auto;
    position: relative;
    padding-top: 60px;
    text-align: right;
    margin-top: -40px; }
  [class^="block-3_row-1_box"] {
    margin-bottom: 495px; }
    [class^="block-3_row-1_box"][class$="1"] {
      width: 250px;
      position: relative;
      top: 20px; }
    [class^="block-3_row-1_box"][class$="2"] {
      width: 250px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 475px;
      position: relative;
      top: 5px; }
    [class^="block-3_row-1_box"][class$="3"] {
      width: 250px; }
  [class^="block-3_row-2_box"] {
    margin-top: 229px; }
    [class^="block-3_row-2_box"][class$="1"] {
      position: absolute;
      top: 30px;
      left: -190px; }
    [class^="block-3_row-2_box"][class$="bg"] {
      display: none; }
    [class^="block-3_row-2_box"][class$="bg-mobile"] {
      display: block;
      width: 121px;
      height: 1781px;
      border-radius: 0;
      top: 0;
      right: 0;
      position: absolute;
      margin-top: 100px; }
    [class^="block-3_row-2_box"][class$="2"] {
      position: relative;
      top: 6px; }
    [class^="block-3_row-2_box"][class$="3"] {
      position: relative;
      top: 6px; }
    [class^="block-3_row-2_box"][class$="4"] {
      right: 0; }
    [class^="block-3_row-2_box"][class$="5"] {
      right: 0;
      bottom: 2px; }
    [class^="block-3_row-2_box"][class$="6"] {
      right: 0;
      bottom: 7px; }
    [class^="block-3_row-2_box"][class$="7"] {
      right: 0;
      bottom: 11px; }
    [class^="block-3_row-2_box"][class$="8"] {
      position: absolute;
      margin-top: 0;
      right: 0;
      bottom: 0; }
  [class^="block-3_row-3_box"] {
    margin-bottom: 492px; }
    [class^="block-3_row-3_box"][class$="1"] {
      width: 250px; }
    [class^="block-3_row-3_box"][class$="2"] {
      width: 250px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 412px;
      position: relative;
      bottom: 10px; }
    [class^="block-3_row-3_box"][class$="3"] {
      width: 250px;
      margin-left: 0;
      margin-right: 0; } }

@media (max-width: 1020px) and (max-width: 800px) {
  .block_h1,
  h2.block_h2 {
    font-size: 36px;
    padding-top: 0; }
  .block_h1 span {
    display: block; }
  .block_header {
    left: 40px;
    top: 70px; }
  .block-1 {
    padding-top: 110px; }
  .block-1_p {
    padding: 35px 0; }
  .block_container_bg {
    display: none; }
  .block-2 {
    background-position: 15px 59%;
    padding-bottom: 95px; }
  .block_container_left {
    margin-bottom: 76px; }
  .block-4 .block_h2 {
    font-size: 16px;
    padding-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    margin-bottom: 0; }
  .block_ul {
    padding-left: 0; }
    .block_ul li {
      font-size: 14px;
      margin: 3px; }
  .block_carousel_slide {
    height: 184px; }
  .block_carousel.js-block_carousel-active {
    width: calc(100% - 200px); }
    .block_carousel.js-block_carousel-active .owl-nav button.owl-next {
      right: -90px; }
    .block_carousel.js-block_carousel-active .owl-nav button.owl-prev {
      left: -90px; }
  .block-4 {
    padding-bottom: 60px; }
  .form {
    margin-top: 10px; }
  .form_left,
  .form_right {
    width: 100%; }
  .block-5 {
    min-height: 100vh; }
  .form_full {
    margin-top: 50px;
    margin-bottom: 0; }
  .form_file-box {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
    text-align: left; } }

@media (max-width: 1020px) and (max-width: 365px) {
  .block_ul li {
    font-size: 13px; }
  .block-3_layout {
    max-width: 100%;
    padding-left: 5px;
    padding-right: 5px; }
  .block-3_row-2 {
    right: 5px; }
  [class^="block-3_row-2_box"][class$="8"] {
    right: 5px; } }

@media (max-width: 1020px) and (max-width: 345px) {
  .block_ul li {
    font-size: 12px; } }

@media (max-width: 1020px) and (max-width: 320px) {
  .block-3_layout {
    padding-left: 2px; }
  .block-3_row-2 {
    right: 0; } }

/*# sourceMappingURL=style-media.css.map */